@font-face {
    font-family: 'roobertregular';
    src: url('roobert-regular-webfont.woff2') format('woff2'), url('roobert-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: 'roobertregular';
    font-weight: normal;
}

.topnav {
    top: 0;
    position: fixed;
    width: 100%;
    height: 50p;
    background-color: #606060;
    font-family: 'roobertregular';
    font-weight: bold;
    text-align: center;
}

.left {
    float: left;
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
}

.right {
    float: right;
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 12px;
    margin-right: 1.5%
}

.button {
    background-color: #242427;
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 30px;
    cursor: pointer;
    font-family: 'roobertregular';
    border: 1px solid white;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.button1 {
    background-color: #242427;
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 30px;
    cursor: pointer;
    font-family: 'roobertregular';
    border: 1px solid white;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 20%
}

.button2 {
    background-color: #242427;
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 30px;
    cursor: pointer;
    font-family: 'roobertregular';
    border: 1px solid white;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 45%;
    margin-top: 20%
}

.profile {
    background-color: #242427;
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 30px;
    cursor: pointer;
    font-family: 'roobertregular';
    border: 1px solid white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%
}

form {
    display: inline;
}

.button:hover {
    background-color: #000000;
    color: 242427;
}

.h3 {
    font-size: 16;
    font-weight: normal;
}

body h5 {
    font-size: 20px;
    font-weight: normal;
}

body h2 {
    font-size: 22px;
    font-weight: normal;
}

body h1 {
    font-size: 16px;
    font-weight: normal;
}

body p {
    font-size: 14px;
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container {
    background-color: darkgrey;
    max-width: 20%;
    border: 5px solid white;
    padding: 10px;
    margin: auto;
    margin-top: 1%;
    text-align: center;
}

div.user {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: normal;
    margin-right: 5%
}

div.title {
    text-align: center;
    font-size: 23px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 5%
}

div.title2 {
    text-align: center;
    font-size: 23px;
    padding-top: 0;
    padding-bottom: 0;
}

img {
    height: auto;
    width: auto;
    max-width: 5%;
    text-align: center
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}