<h2> Edit Profile </h2>

<form method="post" action="/profile/<%=@profile.id%>">
<label for="password">New Password: </label>
  <br>
  <input type="text" name="password">
  <br>
  <label for="email">New Email: </label>
  <br>
  <input type="text" name="email">
  <br>
