<div class="container">
<h2>Add a review:</h2>
<form action="/reviews" method="POST">
  <label for="name">Name: </label>
  <br>
  <input type="text" name="name">
  <br>
  <label for="tea_type">Type: </label>
  <br>
  <input type="text" name="tea_type">
  <br>
  <label for="supplier">Supplier: </label>
  <br>
  <input type="text" name="supplier">
  <br>
  <label for="country">Country: </label>
  <br>
  <input type="text" name="country">
  <br>
  <label for="flavor">Flavor(s): </label>
  <br>
  <input type="text" name="flavor">
  <br>
  <label for="color">Color: </label>
  <br>
  <input type="text" name="color">
  <br>
  <label for="notes">Additional Notes: </label>
  <br>
  <textarea type="text" name="notes" rows="14" cols="22" wrap="soft" maxlength="1000"></textarea>
  <br>
  <br>
  <input class="button" type="submit" value="Submit">
</form>
<br><br>
<form method="get" action="/reviews">
<button type="submit" class="button">All Reviews</button>
</form>

</div>