<h2> Edit Review </h2>

<form method="post" action="/reviews/<%=@review.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="content" value="<%= @review.content %>">
  <input type="submit" value="submit">
</form>