<div class="container">
<h2><%= current_user.username %>'s Reviews: </h2>
<br>
<% if current_user.reviews.all.length == 0%>
No Reviews!  
<br>
  <% else %>
<% @reviews.each do |reviews| %>
    <div>
    <a href="/reviews/<%= reviews.id%>" class="button" style="background-color: #5de264;"><%= reviews.name %></a>
    <br>
    </div>

<% end %>
<% end %>
<br>
 <form method="get" action="/reviews/new">
<button type="submit" class="button">Create Review</button>
  </form>
</div>
