<h2>Planet Tea</h2>
<% if logged_in? %>

  <p>Welcome, <%=current_user.username %>!</p>
  <form method="get" action="/reviews/new">
<button type="submit" class="button">Create Review</button>
  </form>

  <form method="get" action="/reviews">
<button type="submit" class="button">View Reviews</button>
  </form>

  <% else %>
  <p>Please Login or Sign Up below:</p>
  <h3>Login</h3>
  <form method="post" action="/login">
  Username: <input type="text" name="username" >
  <br>
  Password: <input type="text" name="password">
  <br>
  <input class="button" text="Login" type="submit" value="Submit">
  </form>

  <h4>Sign Up</h4>
  <form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
   <input class="button" text="Sign Up" type="submit" value="Submit">
</form>
  <%end %>
