<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/css/application.css">
</head>

<body>
<div class="topnav">
<form class="left" method="get" action="/">
<button type="submit" class="button">Home</button>
</form>
<form class="left" method="get" action="/users/<%=current_user.id%>/edit">
<button type="submit" class="button">Profile</button>
</form>

<form class="right" action="/logout" method="get">
  <button class="button" name="logout">Logout</button>
</form>

<div style="text-align:center;width:100%;font-size:23px;padding-top:0;padding-bottom:0">Planet Tea</div>

</div>
<br>
<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
  </div>
<% end %>
<br>
<%= yield %>

</body>
</html>