<%= yield %>
<br>

<form method="get" action="/">
<button type="submit" class="button">Home</button>
</form>

<form action="/logout" method="get">
  <button class="button" name="logout">Logout</button>
</form>